<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Lector</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AspiranteWSDLService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PublicarWSDLService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ClubDeLecturaWSDLService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NotificacionWSDL</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CapacitacionWSDL</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CapacitacionWSDLService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lector</servlet-name>
        <url-pattern>/Lector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AspiranteWSDLService</servlet-name>
        <url-pattern>/AspiranteWSDLService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicarWSDLService</servlet-name>
        <url-pattern>/PublicarWSDLService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubDeLecturaWSDLService</servlet-name>
        <url-pattern>/ClubDeLecturaWSDLService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificacionWSDL</servlet-name>
        <url-pattern>/NotificacionWSDL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapacitacionWSDL</servlet-name>
        <url-pattern>/CapacitacionWSDL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapacitacionWSDLService</servlet-name>
        <url-pattern>/CapacitacionWSDLService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
